<h3>all movies here!</h3>

<input placeholder="search by title" ng-model="titleSearch">

<div class="all-movies-titles" ng-repeat="film in allMovies | filter: titleSearch" ng-click="showData = !showData">
  {{film.Film}}
{{test}}
    <p ng-show="showData">
      Body Count: {{film.Body_Count}}<br>
      Director: {{film.Director}}<br>
      Rating: {{film.MPAA_Rating}}<br>
      Genre: {{film.Genre}}<br>
      Year: {{film.Year}}<br>
      Length: {{film.Length_Minutes}} minutes<br>
      IMDB Rating: {{film.IMDB_Rating}}<br>
      <button ng-click="addMovie($index)">Add to My List</button>
      <br>
    </p>

</div>


<script src="./app/styles/jquery.js"></script>
