
<div class="all-movies-instructions">Click on a movie to view details and add it to your list.</div>

<input class="search-bar" placeholder="search" ng-model="query[queryBy]"/>

<select ng-model="queryBy"/>
  <option value="$">Any</option>
  <option value="Film">Title</option>
  <option value="Director">Director</option>
  <option value="Year">Year</option>
  <option value="MPAA_Rating">MPAA Rating</option>
  <option value="Genre">Genre</option>
</select>


<div class="all-movies-titles" ng-repeat="film in allMovies | filter: query" ng-click="showData = !showData" >
  {{film.Film}}

    <p ng-show="showData">
      <button class="add-movie-button" ng-click="addMovie(film); movieDisable(film)" ng-disabled="film.disabled">Add to My List</button><br>
      Body Count: {{film.Body_Count}}<br>
      Director: {{film.Director}}<br>
      MPAA Rating: {{film.MPAA_Rating}}<br>
      Genre: {{film.Genre}}<br>
      Year: {{film.Year}}<br>
      Length: {{film.Length_Minutes}} minutes<br>
      IMDB Rating: {{film.IMDB_Rating}}<br>
    </p>

</div>
